th.rz-unselectable-text.rz-sortable-column.rz-text-align-left {
    background-color: white !important;
}

th.rz-unselectable-text.rz-text-align-left {
    background-color: white !important;
}


th.rz-unselectable-text.rz-frozen-cell.rz-text-align-center,
.rz-datatable-thead th .rz-column-title, .rz-grid-table thead th .rz-column-title,
.rz-sortable-column .rzi-sort {
    background-color: white !important;
}


a.rz-paginator-page.rz-paginator-element.rz-state-active {
    color: #007ac3 !important;
}

i.rzi-circle-o-notch {
    color: #007ac3 !important;
    position: fixed !important;
}

.rz-datatable-loading {
    background-color: white;
    opacity: 0.5;
}

.rz-paginator-icon {
    color: #007ac3 !important;
}

.rz-grid-table-fixed .rz-frozen-cell {
    border-left: 0.5px solid #d9e1ea !important;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.12);
}

.datagridspinnercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.datagridspinner {
    width: 20px;
    height: 20px;
    animation: spin 1000ms linear infinite;
}

.datagridloading {
    font-family: sans-serif;
    text-align: center;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
